.pad{
    margin:10px 0 10px 0;
}

.login-container {
    margin: 0 auto;
    float: none;
    width: 300px;
}

.login-container input {
    margin-bottom: 5px;
}

.login-container img {
    margin: 0 auto;
    display: block;
    margin: 10px auto;
}
