.container-fluid {
    margin-bottom:10px;
}

.pad{
    margin:10px 0 10px 0;
}

.login-container {
    margin: 0 auto;
    float: none;
    width: 300px;
}

.login-container input {
    margin-bottom: 5px;
}

.login-container img {
    margin: 0 auto;
    display: block;
    margin: 10px auto;
}

.yndc-nav {
    background-image: linear-gradient(to bottom, #0f8650 0px, #01512c 100%);
}

.yndc-nav a {
    color: #FFFFFF !important;
}

.yndc-nav .navbar-nav > .active > a {
    background-image: linear-gradient(to bottom, #0f8650 0px, #01512c 100%);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25) inset;
}

.add-button {
    float: right;
}

.print-selected-button {
    float: right;
    margin: 0 5px;
}

.filters label {
    margin-left:10px;
}

.filters label:first-child {
    margin-left:0;
}

.photo-help {
    color: #FF0000;
}

.inline-input {
    display: inline-block;
}

.inline-input input {
    width: auto;
}

.action-buttons button, .action-buttons a {
    float: left;
    margin-right: 10px;
}

.table-fixed {
    table-layout: fixed;
}

.table-fixed .bulk-select {
    text-align: center;
    vertical-align: middle;"
}

.address-nowrap {
    overflow: hidden;
    white-space: nowrap;
}

.print-area section {
    page-break-after: always;
}

.yndc-search {
    float: right;
    margin-left: 10px;
}
