{% extends "base_index.html" %}
{% block content %}
        <section>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Property</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                <div class="form-group{% if house_form.address.errors %} has-error{% endif %}">
                                    <label>Address</label>
                                    <input type="text" name="address" placeholder="Address" {% if house_form.address.value %}value="{{ house_form.address.value }}"{% endif %} class="form-control">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group{% if house_form.neighborhood.errors %} has-error{% endif %}">
                                    <label>Neighborhood</label>
                                    <select name="neighborhood" class="form-control">
                                    {% for id, name in house_form.neighborhood.field.choices %}
                                    <option value="{{ id }}"{% if house_form.neighborhood.value|add:"0" == id %} selected="selected"{% endif %}>{{ name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group{% if house_form.notes.errors %} has-error{% endif %}">
                                    <label>Notes</label>
                                    <textarea name="notes" class="form-control" rows="3">{% if house_form.notes.value %}{{ house_form.notes.value }}{% endif %}</textarea>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label>Photo</label>
                                    {{ house_form.photo }}
                                    {% if house_form.photo.errors %}
                                    <p class="photo-help help-block">A photo is required</p>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group{% if house_form.status.errors %} has-error{% endif %}">
                                    <label>Status</label>
                                    <select name="status" class="form-control">
                                    {% for k, v in house_form.status.field.choices %}
                                    <option value="{{ k }}"{% if house_form.status.value == k %} selected="selected"{% endif %}>{{ v }}</option>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group{% if house_form.requested_by.errors %} has-error{% endif %}">
                                    <label>Requested By</label>
                                    <select name="requested_by" class="form-control">
                                    {% for k, v in house_form.requested_by.field.choices %}
                                    <option value="{{ k }}"{% if house_form.requested_by.value == k %} selected="selected"{% endif %}>{{ v }}</option>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Outside</label>
                                <div class="form-group">
                                    {% for field in house_form.outside_checklist_fields %}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="{{ field.name }}"{% if field.value %} checked{% endif %}> {{ field.field.help_text }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Removal</label>
                                <div class="form-group">
                                    {% for field in house_form.removal_checklist_fields %}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="{{ field.name }}"{% if field.value %} checked{% endif %}> {{ field.field.help_text }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>General</label>
                                <div class="form-group">
                                    {% for field in house_form.general_checklist_fields %}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="{{ field.name }}"{% if field.value %} checked{% endif %}> {{ field.field.help_text }}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </section>
{% endblock content %}
