{% extends "base_index.html" %}
{% block content %}
        <ol class="breadcrumb">
          <li><a href="{% url 'list' %}">Properties</a></li>
          <li class="active">{{ house.address }}</li>
        </ol>

        <h1>{{ house.address }}</h1>

        {% if not is_mobile %}
        <div class="action-buttons">
            <a href="{% url 'boards' house.slug %}" class="btn btn-default" role="button">Manage Boards</a>
            <a href="{% url 'events' house.slug %}" class="btn btn-default" role="button">Manage Events</a>
            <a href="{% url 'edit_house' house.slug %}" class="btn btn-default" role="button">Edit</a>
            <a href="{% url 'print_house' house.slug %}" class="btn btn-default" role="button">Print</a>
        </div>
        <div style="clear:both"></div>
        {% endif %}

        <hr>

        <section>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic Info</h3>
                </div>
                <div class="panel-body">
                    <p><b>Address:</b> {{ house.address }}</p>
                    {% if house.neighborhood %}
                    <p><b>Neighborhood:</b> {{ house.neighborhood.name }}</p>
                    {% endif %}
                    <p><b>Status:</b> {{ house.get_status_display }}</p>
                    <p><b>Requested By:</b> {{ house.get_requested_by_display }}</p>
                    <p><b>Photo:</b></p>
                    {% if house.photo %}
                    <img src="{{ house.photo.url }}">
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Meta</h3>
                </div>
                <div class="panel-body">
                    <p><b>Added on:</b> {{ house.created_at }}</p>
                    <p><b>Added by:</b> {{ house.created_by.get_full_name }}</p>
                </div>
            </div>
            {% if house.notes %} 
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Notes</h3>
                </div>
                <div class="panel-body">
                    <p>
                    {{ house.notes }}
                    </p>
                </div>
            </div>
            {% endif %}
            {% if house.outside_checklist %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Outside</h3>
                </div>
                <table class="table">
                    {% for check in house.outside_checklist %}
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span> {{ check.title }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            {% if house.removal_checklist %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Removal</h3>
                </div>
                <table class="table">
                    {% for check in house.removal_checklist %}
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span> {{ check.title }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            {% if house.general_checklist %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">General</h3>
                </div>
                <table class="table">
                    {% for check in house.general_checklist %}
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-ok"></span> {{ check.title }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            {% if house.boards.all %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Boards</h3>
                </div>
                <table class="table">
                    {% for board in house.boards.all %}
                    <tr>
                        <td>
                            <strong>{{ board.description }}</strong> - {{ board.width }}W x {{ board.height }}H
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </section>
{% endblock content %}