{% extends "base_index.html" %}
{% block content %}
    <nav class="col-xs-12">
      
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#">Properties</a></li>
          <li><a href="#">Neighborhoods</a></li>
        </ul>
       
    </nav>
    <div class="container-fluid">
    <header>
      <h1>{{ house.address }}</h1>
      {% if house.neighborhood %}
      <h2>{{ house.neighborhood.name }}</h2>
      {% endif %}
    </header>
    <section>
      {% if house.photo %}
      <div class="col-md-12">
        <img src="{{ house.photo.url }}">
      </div>
      {% endif %}
      <div class="col-md-6 pad">
         {% if house.notes %} 
        <p>
          {{ house.notes }}
        </p>
        {% endif %}
      </div>
      <div class="col-md-12 pad">
        <form >
          <input type="checkbox" value="lawn_work"> Lawn Work</br>
          <input type="checkbox" value="reclaim_sidewalk"> Reclaim Sidewalk</br>
          <input type="checkbox" value="reclaim_driveway"> Reclaim Driveway</br>
          <input type="checkbox" value="etc">Etc
        </form>
      </div>
      <div class="col-md-12 pad">
        <button type="button" class="btn btn-default">Print</button>
        <button type="button" class="btn btn-default">Edit</button>
      </div>
    </section>
    </div>
{% endblock content %}