{% extends "base_index.html" %}
{% block content %}
        <div class="btn-group filter-button">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {% if neighborhood_filter %}{{ neighborhood_filter.name }}{% else %}ALL{% endif %} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/">ALL</a></li>
                <li class="divider"></li>
                {% for neighborhood in neighborhoods %}
                <li><a href="?neighborhood={{ neighborhood.slug }}">{{ neighborhood.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <a href="{% url 'add_house' %}" class="btn btn-default add-button" role="button"><span class="glyphicon glyphicon-plus"></span> New</a>

        <div style="clear:both"></div>

        <hr>

        <table class="table table-striped">
            <thead>
              <tr>
                <th>Address</th>
                {% if not is_mobile %}
                <th>Neighborhood</th>
                {% endif %}
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for house in houses %}
              <tr>
                <td>
                    <a href="{% url 'house' house.slug %}">{{ house.address }}</a>
                </td>
                {% if not is_mobile %}
                <td>{{ house.neighborhood.name }}</td>
                {% endif %}
                <td>
                    <a href="" class="btn btn-default btn-sm" role="button">Edit</a>
                    <a href="{% url 'archive_house' house.slug %}" onclick="return confirm('Archive this property?')" class="btn btn-default btn-sm" role="button">Archive</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
{% endblock content %}
