{% extends "base_index.html" %}
{% block content %}
        <a href="{% url 'add' %}" class="btn btn-default btn-lg add-property" role="button">Add Property</a>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Address</th>
                <th>Neighborhood</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for house in houses %}
              <tr>
                <td>
                    <a href="{% url 'house' house.slug %}">{{ house.address }}</a>
                </td>
                <td>{{ house.neighborhood.name }}</td>
                <td>
                    <a href="" class="btn btn-default btn-sm" role="button">edit</a>
                    <a href="" class="btn btn-default btn-sm" role="button">delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
{% endblock content %}
