{% extends "base.html" %}
{% block content %}

    <div class="row">
  <div class="col-md-4 col-xs-2"></div>
  <div class="col-md-4 col-xs-8"><form class="form-signin" role="form">
        <h2 class="form-signin-heading">YNDC login</h2>
        <input type="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" class="form-control" placeholder="Password" required>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
      </form></div>
  <div class="col-md-4 col-xs-2"></div>
</div>
{% endblock content %}