{% extends "base_index.html" %}
{% block content %}
        <a href="{% url 'add_neighborhood' %}" class="btn btn-default add-button" role="button"><span class="glyphicon glyphicon-plus"></span> New</a>

        <div style="clear:both"></div>

        <hr>

        {% if neighborhoods %}
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Neighborhood</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for neighborhood in neighborhoods %}
              <tr>
                <td>{{ neighborhood.name }}</td>
                <td>
                    <a href="{% url 'delete_neighborhood' neighborhood.slug %}" onclick="return confirm('Delete this neighborhood?')" class="btn btn-default btn-sm" role="button">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        {% else %}
        <small>No neighborhoods exist.</small>
        {% endif %}
{% endblock content %}
